<nav class="ui attached menu">
    <div class="ui container">
        <div class="header item">
            <h1><i class="checkmark box icon"></i>{{title}}</h1>
        </div>
    </div>
</nav>

<div class="ui text container">
    <div class="ui segment form">
        <div class="ui fluid action input">
            <input type="text" class="form control" name="title" placeholder="What u need to do ?"
                   (keyup.enter)="addTodo(titleInput.value); titleInput.value='';" #titleInput>
            <button type="button" class="ui primary button" (click)="addTodo(titleInput.value); titleInput.value='';">
                Add
            </button>
        </div>
    </div>
    <todo-list [todos]="todos"></todo-list>
</div>

